* {
  font-family: "Roboto";
}
/*card*/
.container-card{
  margin-top: 2rem;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows:auto;
}
@media (max-width: 1100px) {
  .container-card{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 730px) {
  .container-card{
    grid-template-columns: repeat(1,1fr);
  }
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 2rem auto;
}
.flip-card-sk {
  background-color: gray;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 2rem auto;
  animation: sk-loading 1s linear infinite alternate;
}
@keyframes sk-loading {
  0%{
    background-color: gray;
  }
  100%{
    background-color: lightgray;
  }
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
}
.flip-card-front img {
  width: 100%;
  height: 100%;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card-back img {
  width: 140px;
  margin-top: 1rem;
}
.flip-card-back h3 {
  margin-bottom: 0.3rem;
}
.flip-card-back h1 {
  margin: 0;
}
@media (max-width: 330px) {
  .flip-card, .flip-card-sk {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
  }
  .flip-card-back img {
    width: 80px;
    margin-top: 1rem;
  }
  .flip-card-back h3 {
    margin-bottom: 0.3rem;
    font-size: 12px;
  }
  .flip-card-back h1 {
    margin: 0;
    font-size: 16px;
  }
}
/*header*/
.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}